celery~=5.4.0
minio~=7.2.10
requests~=2.32.3
Flask~=3.0.3
Werkzeug~=3.0.4
redis~=5.2.0
python-dotenv~=1.0.1
git+https://github.com/kikkomep/rocrate-validator.git@7efb46bc313fd2ea5906d3cee62d077437eb35c7